body {
  background-color: #00468c;
  margin: 0;
  font-family: sans-serif;
  color: #515151;
}

.signup {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.signup__avatar-container {
  flex: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.signup__avatar-container img {
  width: 90%;
  height: auto;
}

.form-container {
  flex: 45%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
}
.form-container__header-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 2rem 0;
}
.form-container__header-logos span {
  background-color: #e6f2ff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.form-container__header-logos span img {
  height: 0.9rem;
  margin: 0 0 0 0.5rem;
}
.form-container__header-title {
  margin: 0;
}
.form-container__header-subtitle {
  margin: 0.5rem 0;
}

.signup-form {
  padding: 0.5rem 0;
}
.signup-form__username {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
}
.signup-form__username label {
  position: absolute;
  top: 2.5rem;
  left: 0.8rem;
  color: #61738e;
  background-color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.signup-form__username input {
  width: 100%;
  height: 4rem;
  font-size: large;
  border-radius: 0.3rem;
  border: 0.1rem solid #d6dee5;
  padding: 0.8rem;
  box-sizing: border-box;
  outline: 0px;
}
.signup-form__username span {
  display: none;
  position: absolute;
  color: #e22d4c;
  font-size: 0.6rem;
  top: 5.1rem;
  left: 0.8rem;
}
.signup-form__email {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
}
.signup-form__email label {
  position: absolute;
  top: 2.5rem;
  left: 0.8rem;
  color: #61738e;
  background-color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.signup-form__email input {
  width: 100%;
  height: 4rem;
  font-size: large;
  border-radius: 0.3rem;
  border: 0.1rem solid #d6dee5;
  padding: 0.8rem;
  box-sizing: border-box;
  outline: 0px;
}
.signup-form__email span {
  display: none;
  position: absolute;
  color: #e22d4c;
  font-size: 0.6rem;
  top: 5.1rem;
  left: 0.8rem;
}
.signup-form__phone-grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signup-form__phone-grp [data-codes=country] {
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
  position: absolute;
  top: 5rem;
  max-height: 15rem;
  overflow-y: scroll;
  z-index: 2;
  border: 0.1rem solid #d6dee5;
  background-color: #fff;
}
.signup-form__phone-grp [data-codes=country] span {
  display: inline;
  position: static;
  color: #515151;
  font-size: 1rem;
  background-color: #fff;
  padding: 1rem;
}
.signup-form__phone-grp [data-codes=country] span:hover {
  background-color: #0080ff;
  color: #fff;
}
.signup-form__phone {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80%;
}
.signup-form__phone label {
  position: absolute;
  top: 2.5rem;
  left: 0.8rem;
  color: #61738e;
  background-color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.signup-form__phone input {
  width: 100%;
  height: 4rem;
  font-size: large;
  border-radius: 0.3rem;
  border: 0.1rem solid #d6dee5;
  padding: 0.8rem;
  box-sizing: border-box;
  outline: 0px;
}
.signup-form__phone span {
  display: none;
  position: absolute;
  color: #e22d4c;
  font-size: 0.6rem;
  top: 5.1rem;
  left: 0.8rem;
}
.signup-form__country-code {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 15%;
}
.signup-form__country-code label {
  position: absolute;
  top: 2.5rem;
  left: 0.8rem;
  color: #61738e;
  background-color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.signup-form__country-code input {
  width: 100%;
  height: 4rem;
  font-size: large;
  border-radius: 0.3rem;
  border: 0.1rem solid #d6dee5;
  padding: 0.8rem;
  box-sizing: border-box;
  outline: 0px;
}
.signup-form__country-code span {
  display: none;
  position: absolute;
  color: #e22d4c;
  font-size: 0.6rem;
  top: 5.1rem;
  left: 0.8rem;
}
.signup-form__country-code span[data-caret=phone] {
  display: inline;
  color: #515151;
  font-size: 0.8rem;
  left: 75%;
  top: 2.5rem;
}
.signup-form__password {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
}
.signup-form__password label {
  position: absolute;
  top: 2.5rem;
  left: 0.8rem;
  color: #61738e;
  background-color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.signup-form__password input {
  width: 100%;
  height: 4rem;
  font-size: large;
  border-radius: 0.3rem;
  border: 0.1rem solid #d6dee5;
  padding: 0.8rem;
  box-sizing: border-box;
  outline: 0px;
}
.signup-form__password span {
  display: none;
  position: absolute;
  color: #e22d4c;
  font-size: 0.6rem;
  top: 5.1rem;
  left: 0.8rem;
}
.signup-form__profession {
  position: relative;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.signup-form__profession span {
  display: flex;
  flex-direction: row;
  height: 4rem;
  font-size: large;
  border-radius: 0.3rem;
  border: 0.1rem solid #d6dee5;
  padding: 0.8rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  width: 47.5%;
}
.signup-form__profession span[data-err=profession] {
  position: absolute;
  display: none;
  border: none;
  font-size: 0.6rem;
  top: 3.3rem;
  color: #e22d4c;
}
.signup-form__submit {
  padding: 1rem 0;
}
.signup-form__submit button {
  height: 3rem;
  width: 6rem;
  background-color: #00468c;
  color: #fff;
  font-size: large;
  border: 0.08rem solid #d6dee5;
  border-radius: 0.3rem;
  cursor: pointer;
}
.signup-form__submitted {
  position: absolute;
  padding: 1rem 2rem 0.8rem 2rem;
  background-color: #00ff77;
  top: 2rem;
  left: 15%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 1s linear;
}

@media screen and (max-width: 800px) {
  .signup {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .signup__avatar-container {
    flex: 0;
  }
  .form-container {
    flex: 100%;
    padding: 1rem 2rem;
  }
  .signup-form__country-code {
    width: 25%;
  }
  .signup-form__phone {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */